PLASMO_PUBLIC_SHIP_NAME=ncc-1701
PLASMO_PUBLIC_SHIELD_FREQUENCY=147
PLASMO_PUBLIC_SITE_URL=https://www.plasmo.com

CODE=PLASMO-GO-030 # Undefined in extension because it does not start with PLASMO_PUBLIC_
